@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
  font-family: 'Genshin';
  src: local('Genshin'), url(/assets/zh-cn.ttf) format('ttf');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 31.8% 91.4%;
    --input: 260 100% 91.4%;
    --ring: 260 84% 90%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 221 39.29% 10.98%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 260 30% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans
  }

  .avatar-glow {
    /* Outer glow */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  }
  
  .avatar-inner-glow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999px; /* Matches the avatar's border-radius */
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6); /* Inner glow */
    pointer-events: none; /* Avoid interfering with interactions */
  }
  
  /* Custom styles */
.skill-tree-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  place-items: center;
  position: relative;
  width: 100%;
  height: 500px; /* Adjust as necessary */
}

.neon-glow {
  filter: drop-shadow(0 0 2px rgba(3, 143, 250, 0.8)) drop-shadow(0 0 10px rgba(13, 144, 245, 0.445))
}

.skill-node {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px; /* Adjust as necessary */
  height: 64px; /* Adjust as necessary */
  border-radius: 9999px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.skill-line {
  position: absolute;
  background-color: black;
  /* The size and position will be set dynamically */
}

/* You might want to adjust the rotation degree based on the number of nodes */
.node-1 { transform: rotate(0deg) translate(200px) rotate(0deg); }
.node-2 { transform: rotate(60deg) translate(200px) rotate(-60deg); }
.node-3 { transform: rotate(120deg) translate(200px) rotate(-120deg); }
.node-4 { transform: rotate(180deg) translate(200px) rotate(-180deg); }
.node-5 { transform: rotate(240deg) translate(200px) rotate(-240deg); }
.node-6 { transform: rotate(300deg) translate(200px) rotate(-300deg); }

  ::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    background-color: transparent; /* Background of the scrollbar track */
  }
  
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #9CA3AF; /* Light gray color, you can customize it */
    border-radius: 4px; /* Rounded corners for the handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #6B7280; /* Darker shade for hover effect */
  }
  .chat-background {
    background: linear-gradient(to left, #000000DD, transparent);
  }
}
@layer components {
  .inner-shadow {
    @apply shadow-inner;
  }
  .outer-glow {
    @apply shadow-outer-glow;
  }
}